body {
  background-color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
  color: rgb(70, 70, 70);
  font-size: 16;
  line-height: 20px ;
}

h1 {
  color: #2ecc71;
  font-family: 'Montserrat', sans-serif;
  font-size: 40;
  font-weight: bolder;
  line-height: 60px ;
  margin: 0px;
}

h2 {
  color: #1e3799;
  font-family: 'Montserrat', sans-serif;
  font-size: 30;
  font-weight: bold;
  line-height: 40px;  
  margin: 0px;
}

a {
  color: white;
  text-decoration: transparent;
  background-color:  #1e3799;
  padding: 15px;
} 

a:hover {
  background-color: #6a89cc;
  text-decoration: underline;
}

.container {
  margin: 30px;
  padding: 30px;
  width: 700px;
  margin: 20px auto;
}

.card{
  background: white;
  border: white;
  border-radius: 5px;
  text-align: center;
  margin: 30px;
  padding: 30px;
  box-shadow: 2px 2px 3px #6a89cc;
  width: 600px;
  margin: 20px auto;
}

.img-circle {
  border-radius: 50%;
}

.social-link {
  font-size: 40px;
  padding: 20px;
}

.details {
  font-family: 'Montserrat', sans-serif;
  font-size: 16;
  font-weight: 300;
  line-height: 10px;
  margin: 20px;
  text-align: left;
  color: rgb(70, 70, 70);
}

.social-link > a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: #6a89cc;
}

.social-link > a:hover {
  color: #1e3799;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline;
}

@media (max-width: 960px) {
  .container {width: 700px;}
}
@media (max-width: 720px) {
  .container {width: 500px;}
}
@media (max-width: 540px) {
  .container {width: 400px;}
}